#builderfront_loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10000;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

#builderfront_loader > img {
    display: block;
    width: 128px;
    height: 128px;
    margin: 150px auto 0px;
}

.builderfront_area_holder {
    border: 1px dashed #002a80;
    padding: 5px;
    min-height: 100px;
}

.builderfront_area_holder_hover {
    border: 1px dashed #ff0000;
}

.builderfront_start_empty_area {
    width: 100%;
    z-index: 99;
}

.builderfront_start_empty_area > span {
    display: block;
    background: #34495E;
    padding: 10px 20px;
    width: 50%;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

.builderfront_element_dragable {
    border: 1px solid crimson;
    width: 100px;
}

.ui_sortable_handle{
    cursor: move;
}

.builderfront_loading_content {
    width: 100%;
    min-height: 70px;
    border: solid 1px #942a25;
}

.builderfront_widget_holder {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.builderfront_settings{
    visibility:hidden;
    opacity:0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    -webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    -moz-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

.ui_sortable_element .builderfront_settings{
    position: absolute;
    height: 100px;
    text-align: center;
    bottom: 0;
    right: -10px;
}

.ui_sortable_element:hover .builderfront_settings {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.builderfront_settings .builderfront_settings_item {
    clear: both;
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    padding: 3px 9px;
    margin-bottom: 5px;
}

.ui_sortable_element .builderfront_sortable_handler {
    position: absolute;
    top: 0;
    right: 0;
    background: #000000;
    color: #ffffff;
    width: 21px;
    height: 39px;
    text-align: center;
    padding-top: 10px;
    cursor: move;
}
