#builderfront_loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10000;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

#builderfront_loader > img {
    display: block;
    width: 128px;
    height: 128px;
    margin: 150px auto 0px;
}

.builderfront_area_holder {
    border: 1px dashed #002a80;
    padding: 5px;
    min-height: 100px;
}

.builderfront_area_holder_hover {
    border: 1px dashed #ff0000;
}

.builderfront_start_empty_area {
    width: 100%;
    z-index: 99;
}

.builderfront_start_empty_area > span {
    display: block;
    background: #34495E;
    padding: 10px 20px;
    width: 50%;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
}

.builderfront_element_dragable {
    border: 1px solid crimson;
    width: 100px;
}

.builderfront_widget_holder {
    margin: 0;
    padding: 0;
    width: 100%;
}

.builderfront_loading_content {
    width: 100%;
    min-height: 70px;
    border: solid 1px #942a25;
}
